* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

header {
  background-color: blue;
  grid-area: 1/2/1/6;
  display: flex;
  flex-direction: column;

  .search {
    background-color: #fff;
    height: 40%;
  }
  .profil {
    background-color: rgb(140, 255, 0);
    height: 60%;
  }
}
aside {
  background-color: green;
  grid-area: 1/1/6/1;
}
.container {
  background-color: yellow;
  grid-area: 2/2/6/6;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);

  .card-container {
    grid-area: 1/1/-1/-2;
    background-color: #f1b8b8;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(auto-fit, minmax(100px, 1fr));
    gap: 8px;
  }
  .container-flash {
    grid-area: 1/3/-1/-1;
    background-color: #d35757;
  }
}
